body {
margin:0;
padding:0;
}

nav {
height: 30px;
width: 100%;
background-color:#222;
}

nav ul {
list-style-type:none;
margin-top:0px;
padding:7px 6px 6px 16px;
}

nav ul li {
	display:inline;
}

div {
font-family: Arial, sans-serif;
font-size:13px;
font-weight:bold;
color:#DCDCDC;
}

nav div ul {
word-spacing:16px;
}

nav div ul a {
text-decoration:none;
color:#DCDCDC;
}

nav dil ul a:hover {
	color: white;
}

.GoogleLogo {
	display:block;
	margin:172px auto;
}

form{
	text-align: center;
	margin-top:-150px;
	margin-right:auto;
	margin-bottom:210px;
	margin-left:auto;
}

form ul li{
	display:inline;
}

.inputbox{
	width:550px;
	height:23px;
}

.GoogleSearchButton{
	font-size:11px;
	font-family: Verdana, sans-serif;
	background: #F5F5FA;
	border: 1px solid #D2D2D9;
	border-radius:3px;
	color: #444;
	font-weight: bold;
	padding: 5px 10px;
}

.GoogleSearchButton:hover{
  box-shadow: 1px 0.5px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #ABABB3;
}

.FeelingLucky{
	font-size:11px;
	font-family: Verdana, sans-serif;
	background: #F5F5FA;
	border: 1px solid #D2D2D9;
	border-radius:3px;
	color: #444;
	font-weight: bold;
	padding: 5px 10px;
}

.FeelingLucky:hover{
  box-shadow: 1px 0.5px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #ABABB3;
}

footer {
height: 30px;
width: 100%;
background-color:white;
border-top: 1px solid #E2E1E6;
text-align:right;
}

footer ul {
list-style-type:none;
margin-top:0px;
padding:7px 6px 6px 16px;
color:black;
font-weight:normal;
}

footer ul li {
	display:inline;
}

.space {
margin-right: 16px;
}

footer div ul a {
text-decoration:none;
color: #767578;
}

footer div ul a:hover {
	text-decoration:underline;
}